@import "colores";
@import "estructura";
@import "tipografia";


header, footer{
    h1, h2{
        
        color: map-get($palette, "textoPrimario");
        &:hover{
            color: map-get($palette, "textoSecundario");
        }
    }
}
main{
    section{
        p{
            color: map-get($palette, "textoPrincipal");
        }
    }
}